body {
    background-color: whitesmoke;
}
#search-button {
    width: 100%;
    border-radius: 20px;
    border-color: black;
    background-color: black;
    color: whitesmoke;
    margin-top: 5px;
}
#main-row {
    border: 3px solid black;

}
#today {
    border: 1px solid black;
}
#today h3,h6 {
    margin-left: 8px;
}
#cards .col {
    flex: 0 0 20%;
    max-width: 20%;


}
#history ul, #history li {
    margin-top: 10px;
    background-color: goldenrod;
    color: whitesmoke;
    list-style-type: none;
    text-align: center;
    padding: 3px;

}

@media (max-width: 650px) {/* Small and medium devices (phones and tablets) */
    #cards .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
